<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VHSMP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VHSMP.Properties.Settings>
            <setting name="checkBox1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBox18" serializeAs="String">
                <value>False</value>
            </setting>
        </VHSMP.Properties.Settings>
    </userSettings>
</configuration>